<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EHApp Home</title>
    <link rel="stylesheet" href="./styles/common_header_style.css">
    <link rel="stylesheet" href="./styles/common_side_panel_style.css">
    <link rel="stylesheet" href="./styles/organization_configuration_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/home">EHApp</a>
            <div class="navigation_options">
                <ul>
                    <li><a href="/search">Discover</a></li>
                    <li><a href="/all_organizations">Configure</a></li>
                    <li><a href="user_profile">Profile</a></li>
                </ul>
            </div>   
        </div>
        
        <div class="main_content">
            <div class="side_panel">
                <ul>
                    <li><a href="/all_organizations">Organizations</a></li>
                    <li><a href="/configure/apps">Apps</a></li>
                </ul>
            </div>
            <div class="organization_data">
            <div class="create_organization">
                <form action="/create_organization" method="post">
                    <button type="submit">Create Organization</button>
                
            </div>

            <div class="owned_organizations">
                <h2>Owned Organizations</h2>
                <ul>
                    <% owned_organizations.forEach(org => { %>
                        <li>
                            <div class="organization_conatiner">
                                <a href="/configure/organization/<%= org.id %>"><%= org.name %></a>
                                <div class="delete_organization_container">
                                    <form action="/delete_organization" method="post">
                                        <input type="hidden" name="organization_id" value="<%= org.id %>">
                                        <button type="submit">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>

            </div>

            </div>

            <!--
                <div class="member_organizations">
                <h2>Member Organizations</h2>
                <ul>
                    <% member_organizations.forEach(org => { %>
                        <li>
                            <div class="organization_conatiner">
                                <a href="/organization_configure/<%= org.id %>"><%= org.name.name %></a>
                                <div class="delete_organization_container">
                                    <form action="/delete_organization" method="post">
                                        <input type="hidden" name="organization_id" value="<%= org.id %>">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% }) %>
                </ul>

            </div>
            -->
        </div>
    </div>
    
</body>
</html>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const createOrganizationButton = document.querySelector('.create_organization button');
        const createOrganizationForm = document.querySelector('.create_organization form');

        createOrganizationButton.addEventListener('click', () => {
            createOrganizationForm.style.display = 'block';
        });

        createOrganizationForm.addEventListener('submit', () => {
            createOrganizationForm.style.display = 'none';
        });

        const deleteOrganizationButtons = document.querySelectorAll('.delete_organization_container button');

        deleteOrganizationButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                const result = confirm('Are you sure you want to delete this organization?');
                if (!result) {
                    event.preventDefault();
                }
            });
        });
    });
</script>